.attendeeCard__container {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.attendeeCard__container:hover {
    transform: scale(1.05)
}

.attendeeCard__image img {
    width: 5rem;
    border-radius: 100%;
}

.attendeeCard__name {
    text-align: center;
}
