@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ---------------------------------------------- */
/* Site-wide*/
/* ---------------------------------------------- */

body {
  background-color: #F3F7FE;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
	padding: 0;
	border: 0;
}


input[type=button] {
  padding: 4px;
  background-color: #F3F7FE;
  border: 2px #77A6F7 solid;
}

input[type=button]:hover {
  cursor: pointer;
}

input[type=text] {
  padding: 4px;
}

input[type=password] {
  padding: 4px;
}

input[type=file] {
  color: transparent;
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type=file]::before {
  content: 'Choose file';
  color: black;
  display: inline-block;
  padding: 4px;
  background-color: #F3F7FE;
  border: 2px #77A6F7 solid;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

input[type=file]:hover::before {
  border-color: black;
}
input[type=file]:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

button {
  padding: 4px;
  margin: 0.2rem;
  background-color: #F3F7FE;
  border: 2px #77A6F7 solid;
  border-radius: 0.4rem;
}

button:hover{
  cursor: pointer;
  background-color: #D3E3FC;
}

.content {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: calc(100vh - 100px);
}

a {
  text-decoration: none;
  color: black;
}

a:visited a:link{
  color: black;
}
