@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');

/* ---------------------------------------------- */
/* Site-wide*/
/* ---------------------------------------------- */

h2, h3, h4, h5, h6 {
  font-family: 'Fanwood Text', serif;
}

body {
  background-color: #F3F7FE;
  font-family: 'Martel', serif;
  margin: 0;
	padding: 0;
	border: 0;
}

p {
  font-family: 'Fanwood Text', serif;
}

input[type=button] {
  padding: 4px;
  background-color: #F3F7FE;
  border: 2px #77A6F7 solid;
}

input[type=button]:hover {
  cursor: pointer;
}

input[type=text] {
  padding: 4px;
  width: 50%;
}

input[type=password] {
  padding: 4px;
  width: 50%;
}


button {
  padding: 4px;
  margin: 0.2rem;
  background-color: #F3F7FE;
  border: 2px #77A6F7 solid;
  border-radius: 0.4rem;
}

button:hover{
  cursor: pointer;
  background-color: #D3E3FC;
}

.content {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: calc(100vh - 100px);
}

a {
  text-decoration: none;
  color: black;
}

a:visited a:link{
  color: black;
}
