.search__container{
    background-color: #00887A;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 80%;
    text-align: center;
    margin-top: 1rem;
    border-radius: 5px;
}
.search_form{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.form__title{
    align-self: center;
}