.event__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 51%;
    height: 200px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.event__pic{
    display: flex;
    justify-content: center;
    border: 2px, solid;
    margin-top: 3rem;
    margin-right: 1rem;
    width:200px;
    height: 150px;
    overflow: hidden;
}

.event__pic img{
    object-fit: contain;
    overflow: hidden;
    width: 180px;
    height: 140px;
}

.event__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 1rem;
}

.event__time{
    display: flex;;
    font-size: medium;
    align-items: flex-end;
    height: 100%;
}
